@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: auto;
    max-width: 1200px;
}

a {
    text-decoration: none;
    color: darkslategray;
}

a:hover{
    font-weight: 500;
    color: slategray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

#profile_picture {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}


.col-md-3{
    margin-bottom: 40px;
    margin-top: 40px;
}

.col-md-3:hover{
    box-shadow: slategray;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.header-menu{
    display: flex;
    gap: 24px;
}

.menu-item{
    color: slategray;
    font-weight: 400;
    font-size: 18px;
}

.padding{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.about{
    background-color: white;
}

.subtitle{
    margin-bottom: 20px;
}

.about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.paragraph{
    margin-right: 30px;
    margin-left: 30px;   
    text-align: justify;
    text-indent: 1.5cm;

}


.card-text{
    text-align: justify;
    text-indent: 0.5cm;
}

.h4{
    text-align: left;
    font-weight: 400;
    color: darkslategray;
}

.card-img-top{
    padding-right: 10px;
    padding-left: 10px;
}

.card-body{
    text-align: left;
}